<!-- Team Start -->
<div class="container-fluid py-5" id="tech">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Technology</h5>
            <h1>Expertise In
            </h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Mobile</h5>
                        <p class="m-0">App Development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Web</h5>
                        <p class="m-0">App Development</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>AI/ML</h5>
                        <p class="m-0">Products</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Hosting</h5>
                        <p class="m-0">Services</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Team End -->


<!-- Team Start -->
<div class="container-fluid py-5" id="team">
    <div class="container pt-5 pb-3">
        <div class="text-center mb-5">
            <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Teams</h5>
            <h1>Meet Our Team</h1>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Gowtham</h5>
                        <p class="m-0">Ganesan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Jeevanantham</h5>
                        <p class="m-0">Nagarajan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Velmurugan</h5>
                        <p class="m-0">Sivasubramaniyan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Jegadish</h5>
                        <p class="m-0">Maduraiveeran</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Krishna</h5>
                        <p class="m-0">Pandichamy</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Vijay Prasanna</h5>
                        <p class="m-0">Kanagaraj</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Aathi Abishek</h5>
                        <p class="m-0">Thiayagarajan</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 text-center team mb-4">
                <div class="team-item rounded overflow-hidden mb-2">
                    <div class="bg-secondary p-4">
                        <h5>Sapthagiri</h5>
                        <p class="m-0">Janakiraman</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Team End -->